.header {
  width: 100%;
  min-height: 985px;
  background: url("../../images/slide.png") no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#menu {
  display: none;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1180px;
  margin: 0 auto;
}

.header__logo {
  margin: 16px 200px 0 0;
}

.header__menu {
  display: flex;
  padding: 0;
  margin-right: 49px;
  align-items: baseline;
}

.header__menu-container {
  display: flex;
}

.header__menu-list {
  list-style: none;
  margin-left: 24px;
}

.header__menu-link {
  font-size: 18px;
  font-family: Nunito Sans, Arial, sans-serif;
  color: #fdfdfd;
  text-decoration: none;
  cursor: pointer;
}

.header__menu-list:first-child {
  margin-left: 0;
}

.header__button-advice {
  color: #fdfdfd;
  font-size: 16px;
  font-family: Nunito Sans, Arial, sans-serif;
  background-color: #1a3e3e;
  border-radius: 4px;
  text-align: center;
  border: none;
  padding: 12px 24px;
  cursor: pointer;
  width: 157px;
  margin-left: 24px;
}

.header__title {
  color: #fdfdfd;
  font-family: NEXT ART;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 1px;
  margin: 0 0 41px 0;
}

.header__section {
  padding-bottom: 82px;
}

.header__found-program {
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(3px);
  padding: 40px 42px;
  display: flex;
  justify-content: space-between;
}

.header__input {
  height: 52px;
  padding: 0 16px;
  display: flex;
  border: 1px solid #fdfdfd;
  border-radius: 8px;
  background: transparent;
  width: 270px;
  height: 52px;
  color: #fdfdfd;
  box-sizing: border-box;
}

.header__input:focus {
  border: 1px solid #1a3e3e;
}

.header__input:focus-visible {
  border: 1px solid #1a3e3e;
  outline: transparent;
}

.header__input-vector {
  background-image: url(../../images/Vector.svg);
  background-repeat: no-repeat;
  background-position: calc(100% - 15px) center;
  outline: none;
  cursor: pointer;
  appearance: none; /*убрать дефолтную стрелку выбора*/
}

.header__input-data::-webkit-calendar-picker-indicator {
  /*изменить значок выбора даты*/
  filter: invert(1);
}

.header__button {
  width: 213px;
  color: #1a3e3e;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  background-color: #fdfdfd;
  border-radius: 4px;
  border: transparent;
  cursor: pointer;
}

.header__input-option {
  color: #000;
  height: 40px;
}

.header__input-option:hover,
.header__input-option:checked {
  box-shadow: 0 0 10px 100px #1a3e3e inset;
}

.header__input-option:checked {
  background-color: #2e6d6d;
}

@media screen and (max-width: 1180px) {
  .header__logo {
    margin: 16px 50px 0 0;
  }
  .header__menu-link {
    font-size: 16px;
  }
}

@media screen and (max-width: 980px) {
  .header {
    min-height: 600px;
  }
  .header__logo {
    width: 100px;
    z-index: 999;
    margin-right: 0;
  }

  .header__input {
    width: 90%;
    margin: 10px 0;
  }

  .header__button {
    width: 200px;
    padding: 10px;
    background-color: #1a3e3e;
    color: #fdfdfd;
  }

  .header__menu-container {
    z-index: 99;
  }

  #menu {
    opacity: 0;
    display: block;
  }

  .header__container {
    width: calc(100% - 50px);
  }

  .header__menu {
    background-color: #fff;
    position: absolute;
    width: 100%;
    transition: 0.5s;
    right: 0%;
    opacity: 0;
    flex-direction: column;
    margin: 0;
    padding: 0;
    top: 0;
    min-height: 100%;
    justify-content: center;
  }

  .header__menu-list {
    list-style: none;
    position: relative;
    padding: 20px;
    width: 100%;
    font-size: 18px;
    margin: 0;
    text-align: center;
  }
  .header__menu-link {
    color: #000;
  }
  label,
  label::before,
  label::after {
    position: absolute;
    width: 100px;
    height: 15px;
    border-radius: 10px;
    background-color: #fff;
    transition: 0.5s;
    transform: scale(0.35);
  }

  label {
    cursor: pointer;
    top: 36px;
    right: -1%;
    z-index: 9999;
  }

  label::before {
    content: "";
    transform: translateY(-25px);
  }

  label::after {
    content: "";
    transform: translateY(25px);
  }

  #menu:checked + label {
    width: 0;
    transition: 0.4s;
    right: 7%;
    z-index: 9999;
  }

  #menu:checked + label::before {
    transform: rotate(45deg);
    background-color: #4a4a4a;
  }

  #menu:checked + label::after {
    transform: rotate(-45deg);
    background-color: #4a4a4a;
  }

  #menu:checked ~ ul {
    transition: 1s;
    opacity: 100%;
  }
  .header__button-advice {
    align-self: center;
  }

  .header__found-program {
    flex-direction: column;
    align-items: center;
  }
  .header__title {
    font-size: 30px;
    line-height: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 780px) {
}

@media screen and (max-width: 420px) {
}
